<!DOCTYPE html>
<html>
    <head>
        <h1>Amazon Price Tracker & Notifier</h1>
        <style>
            h1 {text-align: center;}
        </style>
    </head>
    <body>
        <form action="{{url_for('submit')}}" method="POST">
            <p>Enter Name:</p>
                <p><input type = "text" name = "name" /></p>
            <p>Product URL:</p>
                <p><input type = "url" name = "surl" /></p>
            <p>Desired Price:</p>
                <p><input type = "text" name = "price" /></p>
            <p>Email Address:</p>
                <p><input type = "email" name = "email" /></p>
            <p><button type = "submit" value = "submit">Submit</button></p>
            <style>
                p {text-align: center;}
            </style>
        </form>
    </body>
</html>