<!DOCTYPE html>
<html>
  <title>Amazon Price Tracker & Notifier</title>
  <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static',filename='images/favicon.png')}}"/>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <h1>Amazon Price Tracker & Notifier</h1>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5024088553806960"
     crossorigin="anonymous"></script>
        <style>
          h1 {text-align: center;
          color: white;
          font-family: "Raleway", sans-serif;
          margin-top: 100px;}
        </style>
        <link rel="stylesheet" href="{{ url_for('static',filename='submit.css')}}">
    </head>
  <body>
    <h2>Mr./Miss {{name}}</h2>
    <p>Thank you for using Amazon Price Tracker & Notifier.</p>
    <style>
      h1 {padding: 30px;}
      h2 {text-align: center;
      color: white;
      padding: 30px;}
      p {text-align: center;
      color: white;
      padding: 30px;}
    </style>
    
  </body>
</html>