<!DOCTYPE html>
<div class="bg">
  <div id="details">
      <div class="main">
        <h1>Amazon Price Tracker & Notifier</h1>

        <link rel="stylesheet" href="main.css">

        <form action="{{url_for('submit')}}" method="POST">
          <input type="text" name="name" placeholder="Name" />
          <input type="url" name="surl" placeholder="URL" />
          <input type="text" name="price" placeholder="Desired Price" />
          <input type="email" name="email" placeholder="E-mail" />
        
        <button class="button" type="submit" value="Submit"><span>Submit</span></button>
        </form>
        <div id='contact-info'>
          <div class='links'>
            <a href='https://www.linkedin.com/in/illia-chaban/' target='_blank' class='orange-border'>
              <div>
                <span><img src="link.png"></span>
                <span></span>
                <span></span>
                <span></span>
                <span>
                      <i class="fab fa-linkedin-in"></i>
                    </span>
              </div>
            </a>
            <a href='https://github.com/illiaChaban' target='_blank' class='orange-border' >
              <div>
                <span><img src="git.png"></span>
                <span></span>
                <span></span>
                <span></span>
                <span>
                      <i class="fab fa-github"></i>
                    </span>
      
              </div>
            </a>
            <a href='https://www.facebook.com/illia.chaban.8' class='orange-border' target='_blank'>
              <div>
                <span><img src="gmail.png"></span>
                <span></span>
                <span></span>
                <span></span>
                <span>
                      <i class="fab fa-gmail"></i>
                    </span>
              </div>
            </a>
            <a href='https://www.facebook.com/illia.chaban.8' class='orange-border' target='_blank'>
              <div>
                <span><img src="kaggle.png"></span>
                <span></span>
                <span></span>
                <span></span>
                <span>
                      <i class="fab fa-kaggle"></i>
                    </span>
              </div>
            </a>
            <a href='https://www.instagram.com/illia.archi' class='orange-border' target='_blank'>
              <div>
                <span><img src="insta.png"></span>
                <span></span>
                <span></span>
                <span></span>
                <span>
                      <i class="fab fa-instagram"></i>
                    </span>
              </div>
            </a>
          </div>
          </div>
      </div>
    </div>
</div>
