<!DOCTYPE html>
<div class="bg">
  <div id="details">
      <div class="main">
        <h1>Amazon Price Tracker & Notifier</h1>

        <link rel="stylesheet" href="main.css">

        <form action="{{url_for('submit')}}" method="POST">
          <input type="text" name="name" placeholder="Name" />
          <input type="url" name="surl" placeholder="URL" />
          <input type="text" name="price" placeholder="Desired Price" />
          <input type="email" name="email" placeholder="E-mail" />
        
        <button class="button" type="submit" value="Submit"><span>Submit</span></button>
        </form>
        <li><a href="http://www.facebook.com" class="fa social-icons"><img src='link.png' /></a></li>
        <li><a href="http://www.twitter.com" class="fa social-icons"><img src='github.png' /></a></li>
        <li><a href="http://www.youtube.com" class="fa social-icons"><img src='insta.png' /></a></li>
      </div>
    </div>
</div>